---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import OurTeam from '../components/OurTeam.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="Indusol Consulting - Asesoría técnica y comercial para la industria alimenticia">
	<main>
		<Hero />
		<OurTeam />
		<Contact />
	</main>
</Layout>
