---
import { teamData } from '../data/teamData'
import ContactForm from './ContactForm.astro';
---

<section class="my-[8rem]" id="contact">
    <header class="text-center mb-10 tracking-widest">
        <h2 class="text-3xl font-bold">Contactanos</h2>
      </header>
    <div class="container sm:max-w-sm-custom md:max-w-md-custom lg:max-w-md-custom xl:max-w-xl-custom 2xl:max-w-2xl-custom px-2 mx-auto">
        <div class="flex justify-center items-center">
            <ContactForm />
        </div>
    </div>
</section>