<div
  class="relative bg-cover bg-center h-[90vh] bg-[url(/hero.webp)]"
>
  <div class="absolute inset-0 bg-black opacity-60"></div>
  <div class="absolute inset-0 flex items-center justify-center text-center">
    <div class="text-white">
      <h1 class="text-4xl font-bold">Asesoría técnica y comercial para fabricas de pasta.</h1>
      <p class="text-lg mt-5 max-w-xl mx-auto text-gray-200">Pasión, competencia y tecnología al servicio de la industria alimenticia.</p>
      <a
      class="inline-block rounded border border-white bg-white px-12 py-3 text-sm font-medium text-black hover:bg-slate-200 duration-75 mt-10"
      href="#contact"
    >
      Conoce más
    </a>
    </div>
  </div>
</div>