---
import { teamData } from '../data/teamData'
---

<section id="team" class="bg-gray-100 my-[4rem]">
    <header class="text-center mb-10 tracking-widest pt-[4rem]">
        <span class="font-mono text-gray-700">¿Conoces nuestro equipo?</span>
        <h2 class="text-3xl font-bold">Aliados de Indusol</h2>
      </header>
    <div class="container sm:max-w-sm-custom md:max-w-md-custom lg:max-w-md-custom xl:max-w-xl-custom 2xl:max-w-2xl-custom px-2 pb-[4rem]">
        <div class="grid grid-cols-2 md:grid-cols-4 gap-8">
            <img class="m-auto" width="300px" height="auto" src={'./omas.png'} alt={`omas logo`} />
            <img class="m-auto" width="200px" height="auto" src={'./IBL.webp'} alt={`IBL Logo`} />
            <img class="m-auto" width="200px" height="auto" src={'./CT.png'} alt={`CT logo`} />
            <img class="m-auto" width="200px" height="auto" src={'./FPE.png'} alt={`FPE logo`} />
        </div>
    </div>
</section>